<% include ./partials/boilerplate.ejs %>



<div class="mainContainer">
<div class="pic">
      <h1 class="date"> Date Night </h1>
      <h1 class="great"> Great Night </h1>

    <form action="/dateNights" method="POST">
        <div class="formContainer">
        <input class="createButtons" type="text" name="date" placeholder="date">
        <br>
        <br>
        <input class="createButtons" type="text" name="time" placeholder="time">
        <br>
        <br>
        <input class="createButtons" type="text" name="location" placeholder="location">
        <br>
        <br>
        <input class="createButtons" type="text" name="description" placeholder="description">
        <br>
        <br>
        <input class="createButtons" type="text" name="url" placeholder="url">
        <br>
        <br>
        <input class="createButtons" type="submit" value="Submit!" >
        <br>
    </form>
      <h1 class="light"> Light it up! </h1>

</div>



<% include ./partials/end.ejs %>
