<% include ./partials/boilerplate.ejs %>



<div class="mainContainer2">
<div class="pic">
      <h1 class="date"> Date Night </h1>
      <h1 class="great"> Great Night </h1>

    <form  action="/dateNights" method="POST">
        <div class="formContainer">
        <input class="newForm" type="text" name="date" placeholder="date">

        <input class="newForm" type="text" name="time" placeholder="time">

        <input class="newForm" type="text" name="location" placeholder="location">

        <input class="newForm" type="text" name="description" placeholder="description">

        <input class="newForm" type="text" name="url" placeholder="url">
        <br>

        <input class="newForm" type="submit" value="Submit!" >
            </form>
      <h1 class="light2"> Light it up! </h1>

</div>



<% include ./partials/end.ejs %>
